<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome User!</title>
</head>
<body>
    <h1>Learning Spring Boot</h1>
    <h2>Welcome User!</h2>
    <h3>This is my first Spring Boot Application</h3>
    <h3>Choose your favorite programming language</h3>
    <form action="/javaindex" method="post">
        <input type="submit" value="Java">
    </form>
    <form action="/cindex" method="post">
        <input type="submit" value="C">
    </form>
    <form action="/cplusindex" method="post">
        <input type="submit" value="C++">
    </form>
    <form action="/pythonindex" method="post">
        <input type="submit" value="Python">
    </form>
</body>
</html>